---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Nigeria?fields=capital
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"capital":["Abuja"]}]'
  recorded_at: Mon, 07 Aug 2023 15:44:30 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja&headers%5BX-Api-Key%5D=1bGTyAa%2BoNPw9qmGblh3RA==G5Kg9AjjgG0MfaQJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5cb09a99-d106-4f80-bc7c-5817aefa7582
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS-oJGdIPHcFqIg=
    body:
      encoding: UTF-8
      string: '{"error": "Missing API Key."}'
  recorded_at: Mon, 07 Aug 2023 15:44:39 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja&headers%5Bx-api-key%5D=1bGTyAa%2BoNPw9qmGblh3RA==G5Kg9AjjgG0MfaQJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b31f5b50-fd94-4e7a-9963-775b6262ae2b
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS_RYFD8vHcF5AA=
    body:
      encoding: UTF-8
      string: '{"error": "Missing API Key."}'
  recorded_at: Mon, 07 Aug 2023 15:49:03 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 1bGTyAa+oNPw9qmGblh3RA==G5Kg9AjjgG0MfaQJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 16ce1948-b1f3-4c7c-8fc5-937390df9432
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTA6MHfpPHcFRXA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 433.92, "aqi": 4}, "NO2": {"concentration":
        2.96, "aqi": 3}, "O3": {"concentration": 29.68, "aqi": 25}, "SO2": {"concentration":
        0.31, "aqi": 0}, "PM2.5": {"concentration": 4.21, "aqi": 13}, "PM10": {"concentration":
        5.17, "aqi": 4}, "overall_aqi": 25}'
  recorded_at: Mon, 07 Aug 2023 16:00:14 GMT
recorded_with: VCR 6.2.0
