---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Abuja
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 1bGTyAa+oNPw9qmGblh3RA==G5Kg9AjjgG0MfaQJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 936539d4-6ecd-4456-a0e0-070a8edcf3be
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTKApEKDvHcFilw=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 467.3, "aqi": 5}, "NO2": {"concentration":
        4.07, "aqi": 5}, "O3": {"concentration": 29.68, "aqi": 25}, "SO2": {"concentration":
        0.41, "aqi": 0}, "PM2.5": {"concentration": 5.23, "aqi": 16}, "PM10": {"concentration":
        6.67, "aqi": 6}, "overall_aqi": 25}'
  recorded_at: Mon, 07 Aug 2023 17:02:22 GMT
recorded_with: VCR 6.2.0
