---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Test%20City
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 1bGTyAa+oNPw9qmGblh3RA==G5Kg9AjjgG0MfaQJ
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b2572966-8405-4ac6-9c70-3f63ee65084e
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTKeMGFAPHcFqyQ=
    body:
      encoding: UTF-8
      string: '{"error": "Could not find city."}'
  recorded_at: Mon, 07 Aug 2023 17:05:31 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=France
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 1bGTyAa+oNPw9qmGblh3RA==G5Kg9AjjgG0MfaQJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 81ebe9e1-b358-4892-b821-5e0d153d4a2c
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTKi5EWPPHcFY8w=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 185.25, "aqi": 2}, "NO2": {"concentration":
        2.59, "aqi": 3}, "O3": {"concentration": 55.08, "aqi": 46}, "SO2": {"concentration":
        0.22, "aqi": 0}, "PM2.5": {"concentration": 1.01, "aqi": 3}, "PM10": {"concentration":
        1.47, "aqi": 1}, "overall_aqi": 46}'
  recorded_at: Mon, 07 Aug 2023 17:06:01 GMT
recorded_with: VCR 6.2.0
