---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=22b44ddd&app_key=87805e3588b62ac7bc881a2a8f9ba21a&q=notacountry&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 05 Aug 2023 21:48:12 GMT
recorded_with: VCR 6.2.0
